.continue-watching {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    inline-size: 100%;
    font-size: 2.25rem;
    margin-block-start: 2.5rem;
    margin-block-end: 0.625rem;
  }

  .continue-watching__wrapper {
    width: 100dvw;
    background: radial-gradient(50% 50% at 50% 50%, var(--teal-400) 0%, var(--teal-800) 100%);
    position: static;

    .continue-watching__container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-block: 2.5rem;
      max-inline-size: var(--max-width);
      margin-inline: auto;

      a {
        position: relative;

        .continue-watching__title {
          position: absolute;
          bottom: 0.75rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}