:root {
  --white: #fff;
  --black: #000;

  --gray-50: #d9d9d9;
  --gray-500: #474953;
  --gray-600: #30323e;
  --gray-700: #272b3b;
  --gray-800: #1d1e2b;
  --gray-900: #12141f;

  --red-500: #ff2929;

  --green-500: #00ff11;

  --teal-400: #02d6e8;
  --teal-500: #09bcd8;
  --teal-800: #056372;
}